@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

* {
  margin:0;
  padding:0;
  font-family:"Roboto";
}

#nav {
    height:80px;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background-color:#566473;
    text-align:center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



#nav ul {
    text-decoration:none;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

#nav li {
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

#nav a {
    text-decoration:none;
    color:#CED3D8;
    font-weight:600;
    transition-duration:0.25s;
}

#nav a:hover {
    color:white;
    transition-duration:0.25s;
}

#top {
    margin-top:140px;
    text-align:center;
    color:white;
    margin-bottom:40px;
}

#top h1 {
    font-size:64px;
}

#top p {
    color:#CED3D8;
}

#top img {
    margin:20px;
}

#top p {
    font-size:22px;
}

#about {
	color:#f00
    margin:0 auto;
    text-align:center;
}

.about-sec {
    margin:0 auto;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
    width:300px;
    color:white;
    background-color:#566473;
    display:inline-block;
    padding:15px;
    padding-bottom:25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.about-row {
    
}

.about-sec p {
    color:#CED3D8;
    font-size:14px;
    margin-top:7px;
   
}

.icon {
    font-size:42px;
}

.material-icons {
    font-size:42px;
    margin-top:10px;
    margin-bottom:10px;
}

body {
    background-color:#5c6d7e;
}

@keyframes left {
    from {
        transform:translateX(20px) rotate(-35deg);
        opacity:0;
    }
    to {
        transform:translateX(0px) rotate(0deg);
        opacity:1;
    }
}

@keyframes right {
    from {
        transform:translateX(-20px) rotate(35deg);
        opacity:0;
    }
    to {transform:translateX(0px) rotate(0deg);
        opacity:1;
    }
}

@keyframes bottom {
    from {transform:translateY(-20px);opacity:0}
    to {transform:translateY(0px);opacity:1}
}

#left {
    transform-origin:center;
    animation:left 1s;
}
#right {
    transform-origin:center;
    animation:right 1s;
}
#bottom {
    animation:bottom 1s;
}


